<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Your actual database connection string -->
		<add name="DefaultConnection"
			 connectionString="Server=SQL8001.site4now.net;Initial Catalog=db_aad782_hms;User Id=db_aad782_hms_admin;Password=Password@123"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.webServer>
		<!-- Configure the ASP.NET Core process -->
		<aspNetCore processPath="dotnet" arguments=".\HospitalManagementSystem.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>

		<!-- Redirect HTTP to HTTPS -->
		<!--<rewrite>
			<rules>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP}" pattern="off" />
					</conditions>
					<action type="Redirect" url="http://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>-->
	</system.webServer>
</configuration>
