@model HospitalManagementSystem.Models.Patient

@{
    ViewData["Title"] = "Delete";
}

<div class="flex justify-center items-center">

    <div class="p-8 bg-grayLight w-[50%] rounded-md shadow-md border ">
        <div>
            <a asp-action="Index">
                <ion-icon name="arrow-back-outline" class="h-6 w-6 py-2 hover:scale-95 duration-300 ease-in-out hover:text-customGray"></ion-icon>
            </a>
        </div>
        <div class="flex  flex-col flex-wrap w-full">
            <h1 class="text-customBlue text-[25px] font-bold">Are you sure you want to delete?</h1>

            <div class="form-group flex flex-column p-2">
                <label class="font-semibold">Full Name</label>
                <div class="flex gap-2">
                    <input disabled asp-for="Name" placeholder="Patient Name" class="flex-grow py-2 rounded-md border border-customGray pl-3 text-customGray" />
                </div>
            </div>
            <div class="form-group flex flex-row gap-2 p-2">
                <div class="flex flex-col gap-2 flex-grow">
                    <label class="font-semibold">Address</label>
                    <input disabled asp-for="Address" placeholder="Street Address, City, Municipality" class="flex-grow py-2 rounded-md border border-customGray pl-3  text-customGray" />
                </div>

                <div class="flex flex-col gap-2 flex-grow">
                    <label class="font-semibold">Contact Number</label>
                    <input disabled asp-for="ContactNumber" type="tel" placeholder="+63-963-314-9103" class="flex-grow py-2 rounded-md border border-customGray pl-3  text-customGray" />
                </div>
            </div>

            <div class="flex flex-row gap-3 p-2 w-[60%]">
                <div class="flex flex-col flex-grow">
                    <label class="font-semibold">Date of Birth</label>
                    <input disabled asp-for="DateOfBirth" type="date" class="flex-grow py-2 rounded-md border border-customGray px-4  text-customGray" />

                </div>

                <div class="flex flex-col gap-1 flex-grow justify-center">
                    <label class="font-semibold">Gender</label>
                    <div class="flex gap-5 p-1">
                        <div class="flex items-center gap-2">
                            <input disabled type="radio" id="male" name="gender" value="Male" asp-for="Gender" class="form-radio">
                            <label for="male">Male</label>
                        </div>
                        <div class="flex items-center gap-2">
                            <input disabled type="radio" id="female" name="gender" value="Female" asp-for="Gender" class="form-radio">
                            <label for="female">Female</label>
                        </div>
                    </div>
                    <span disabled asp-validation-for="Gender" class="text-danger"></span>
                </div>

            </div>
            @*     <div class="flex justify-center mt-5 ">
            <input type="submit" value="Update"  />
            </div> *@
            <form asp-action="Delete" class="mt-2">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="bg-red-600 py-2 px-10 rounded-md text-white font-bold hover:bg-customBlue transition duration-300 ease-in-out" />
            </form>
        </div>
    </div>

</div>
</div>
